DB_HOST=localhost 
DB_NAME=admin_tool
DB_USER=postgres
DB_PASS=ANAGH@8077045850
REDIS_PASSWORD=mypilluiscute123456832165
ALLOWED_HOSTS=127.0.0.1,localhost
DEBUG=True
SECRET_KEY=django-insecure-ux)0c1v(x%u4_kq3ubi&#%5*fid*ti8gx53(%#5#a8bgbtjb(f